<p><strong>Location:</strong> <%= @queen.location %></p>
<p><strong>Price:</strong> <%= @queen.price %></p>
<p><strong>Skills:</strong> <%= @queen.skills %></p>

<%= link_to "Book this Queen", "here comes the new queen booking path", class: "btn btn-primary" %>
