<div class="bg-success" style="--bs-bg-opacity: .5;height: 100vh">
<div class="d-flex justify-content-center">
<div class="mt-5 d-flex justify-content-center bg-secondary py-5 logo">LOGO</div>
</div>

<h1 class="d-flex justify-content-center my-2">MAKE YOUR PARTY (T)WERK</h1>
<div class="d-grid gap-2 col-4 mx-auto">
<button class="button-36 p-4 " role="button"><b><%= link_to "FIND YOUR QUEEN", queens_path %></b></button>
</div>
<h2 class="d-flex justify-content-center my-2">Are you a queen yourself?</h2>
<div class="d-grid gap-2 col-3 mx-auto">
<button class="button-75 mb-5" role="button" ><b><%= link_to "Create your profile", new_queen_path %></b></button>
</div>

</div>
