body {
  // background: linear-gradient(to left top, #E70A74, #f7c5e1);
  background-color: white;
  color: #8300A4;
}

.background-home {
  background-image: url("Home.png");
  // height: 100%;
  // width: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // margin: 0;
  // top: 0;
  // left: 0;
  // min-width: 100%;
  // min-height: 100%;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.intro {
  margin-top: 50px;
}
