.search-form {
    display: flex;
    justify-content: center;
    .search-fields {
        display: flex;
        justify-content: center;
        gap: 0px;
        .form-group {
            margin: 0;
            .form-control,
            input[type="date"] {
                height: 60px;
                background-color: #d9d9d9;
                border-radius: 5px;
                border: 1px solid #000000;
                padding: 0 10px;
            }
        }
    }
    .btn-search {
        height: 40px;
        @extend .button-75 !optional;
    }
}

@media (max-width: 768px) {
    .search-form .search-fields {
        flex-direction: column;
        .form-group {
            width: 100%;
        }
    }
    .btn-search {
        width: 100%;
    }
}
